<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="application/xhtml; charset=utf-8"/>
    <title>Error 404 – Page not found</title>
    <link rel='stylesheet' href='/stylesheets/styleError.css'/>
</head>
<body>
<div id="page">
    <div id="message">
        <h1>404</h1>

        <p>— Не то чтобы совсем не попал,— сказал Пух,— но только не попал в шарик!</p>

        <p><a href="/" title="home">Начать с начала</a></p>
    </div>
</div>
</body>
</html>
